body {
    background-image: url('https://img.freepik.com/free-photo/glowing-lines-human-heart-3d-shape-dark-background-generative-ai_191095-1435.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.title {
    text-align: center;
    color: white;
    font-size: 50px;
}
.nav {
    text-align: center;
    font-family: Arial, sans-serif;
}
.nav ul {
    display: inline-block;
    list-style-type: none;
    padding: 0;
}
.nav li {
    display: inline;
    margin-right: 20px;
}
.nav a {
    text-decoration: none;
}
.project {
    border: 2px solid white;
    padding: 5px;
    margin: 10px auto;
    text-align: center;
    display: block;
    width: fit-content;
    font-size: 16px;
    color: white;
}
.project-images {
    text-align: center;
}
.image-container {
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    width: 30%;
    vertical-align: top;
}
.single-image {
    width: 45%;
    height: auto;
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
}
.image-container img {
    width: 100%;
    height: auto;
}
.image-container p {
    color: white;
}
h2, h3, h4, h5 {
    font-size: 24px;
}
p {
    font-family: Arial, sans-serif;
}
