---
 title: "About"
 layout: "../layouts/MainLayout.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>

    <nav style="text-align: center; font-family: Arial, sans-serif;">
        <ul style="display: inline-block; list-style-type: none; padding: 0; margin-right: 20px;">
        <li><button class="btn"><a href="/" style="text-decoration: none;">Home</a></button></li>
        </ul>
        <ul style="display: inline-block; list-style-type: none; padding: 0;">
        <li><button class="btn"><a href="/projects" style="text-decoration: none;">Projects</a></button></li>
        </ul>
    </nav>

    <h1 style="text-align: center; color: white;"><u>About Me</u></h1>
    <img src="EWU1.jpg" alt="EWU" style="display: block; margin-left: auto; margin-right: auto;">

    <div style="text-align: center; color: white;">
        <p>My name is Daniel Montes and I am from a small town called Prosser, Washington. I started at EWU in 2020 with no idea what to major in until I stumbled upon the Bachelors in Computer Science major.</p>
        <p>I do have a minor in Communications, Spanish, and I am currently working on my Cyber Security minor. 
        I currently work at the Center for Academic Advising and Retention(CAAR) on the Cheney campus as an office aid.</p>
    </div>

    <div style="display: flex; justify-content: center;">
        <div style="border: 2px solid black; padding: 20px; width: 50%; text-align: left;">
            <div style="width: 45%; float: left;">
                <h2 style="color: white;"><u>Languages I am Familiar with</u></h2>
                <ul style="text-align: left; color: white;">
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                    <li>SQL</li>
                </ul>
            </div>

            <div style="width: 45%; float: right;">
                <h3 style="color: white;"><u>Hobbies</u></h3>
                <ul style="text-align: left; color: white;">
                    <li>Collecting Sneakers</li>
                    <li>Watching the Boston Celtics</li>
                    <li>Playing Xbox</li>
                    <li>Eating</li>
                    <li>Sleeping</li>
                </ul>
            </div>
        </div>
    </div>

    <h2 style="text-align: center; color: white;"><u>My Links</u></h2>
    <div class="links" style="text-align: center;">
        <ul style="display: inline-block; text-align: left;">
            <li><a href="https://github.com/danielmontes23" target="_blank">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/daniel-montes-095602192/" target="_blank">LinkedIn</a></li>
            <li><a href="https://codepen.io/your-work" target="_blank">CodePen</a></li>
        </ul>
    </div>
        <style>
            body {
                font-family: Arial, sans-serif;
                background: #C8102E;
            }
        </style>
</body>
</html>