---
 title: "About"
 layout: "../layouts/MainLayout.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>

    <nav class="nav">
        <ul class="nav-list">
            <li><button class="btn"><a href="/" class="nav-link">Home</a></button></li>
            <li><button class="btn"><a href="/projects" class="nav-link">Projects</a></button></li>
        </ul>
    </nav>

    <h1 class="title" style="font-size: 70px;"><u>About Me</u></h1>
    <img src="EWU1.jpg" alt="EWU" class="center-image">

    <div class="content">
        <p>My name is Daniel Montes and I am from a small town called Prosser, Washington. I started at EWU in 2020 with no idea what to major in until I stumbled upon the Bachelors in Computer Science major.</p>
        <p>I do have a minor in Communications, Spanish, and I am currently working on my Cyber Security minor. 
        I currently work at the Center for Academic Advising and Retention(CAAR) on the Cheney campus as an office aid.</p>
    </div>

    <div class="flex-container">
        <div class="info-box">
            <div class="left-column">
                <h2 class="subtitle"><u>Languages</u></h2>
                <ul class="list">
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                    <li>SQL</li>
                </ul>
            </div>

            <div class="right-column">
                <h3 class="subtitle"><u>Hobbies</u></h3>
                <ul class="list">
                    <li>Collecting Sneakers</li>
                    <li>Watching the Boston Celtics</li>
                    <li>Playing Xbox</li>
                    <li>Eating</li>
                    <li>Sleeping</li>
                </ul>
            </div>
        </div>
    </div>

    <h2 class="title"><u>My Links</u></h2>
    <div class="links">
        <ul class="link-list">
            <li><a href="https://github.com/danielmontes23" target="_blank" class="link">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/daniel-montes-095602192/" target="_blank" class="link">LinkedIn</a></li>
            <li><a href="https://codepen.io/your-work" target="_blank" class="link">CodePen</a></li>
        </ul>
    </div>
    <h2 class="title"><u>Contact</u></h2>
    <div class="contact">
        <p class="content">Email: <a href="mailto:dmontes2@ewu.edu" class="link">dmontes2@ewu.edu</a></p>
    </div>
        <style>
            body {
            font-family: Arial, sans-serif;
            background: #C8102E;
            }
            .nav {
            text-align: center;
            font-family: Arial, sans-serif;
            }
            .nav-list {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            }
            .nav-link {
            text-decoration: none;
            }
            .btn {
            margin: 0 5px;
            }
            .title {
            text-align: center;
            color: white;
            }
            .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
            .content {
            text-align: center;
            color: white;
            }
            .flex-container {
            display: flex;
            justify-content: center;
            }
            .info-box {
            border: 2px solid black;
            padding: 20px;
            width: 50%;
            text-align: left;
            }
            .left-column {
            width: 45%;
            float: left;
            }

            .right-column {
            width: 45%;
            float: right;
            }
            .subtitle {
            color: white;
            font-size: 1.5em; /* Ensure both subtitles have the same font size */
            }
            .list {
            text-align: left;
            color: white;
            }
            .links {
            text-align: center;
            }
            .link-list {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
            }
            .link {
            margin-right: 10px;
            }
        </style>
</body>
</html>