---
 title: "About"
 layout: "../layouts/MainLayout.astro"
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>

    <nav class="nav">
        <ul class="nav-list">
            <li><button class="btn"><a href="/" class="nav-link">Home</a></button></li>
            <li><button class="btn"><a href="/projects" class="nav-link">Projects</a></button></li>
            <li><button class="btn"><a href="/contact" class="nav-link">Contact</a></button></li>
        </ul>
    </nav>

    <h1 class="title" style="font-size: 70px;"><u>About Me</u></h1>
    <img src="EWU1.jpg" alt="EWU" class="center-image">

    <div class="content">
        <p>My name is Daniel Montes, and I am originally from the small town of Prosser, Washington. I started at Eastern Washington University in 2020, during the COVID-19 pandemic, unsure of my career path until I discovered a passion for Computer Science. I am now majoring in Computer Science with minors in Communications, Spanish, and Cyber Security.</p>
        <p>Currently, I work as an office aide at the Center for Academic Advising and Retention (CAAR) on the Cheney campus, where I assist students with setting up and checking into their appointments and help guide them in the right direction when further assistance is needed. My diverse academic background and work experience highlight my commitment to learning and growth.</p>
    </div>

    <div class="flex-container">
        <div class="info-box">
            <div class="left-column">
                <h2 class="subtitle"><u>Languages</u></h2>
                <ul class="list">
                    <li>Java</li>
                    <li>JavaScript</li>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Python</li>
                    <li>SQL</li>
                </ul>
            </div>

            <div class="right-column">
                <h3 class="subtitle"><u>Hobbies</u></h3>
                <ul class="list">
                    <li>Collecting Sneakers</li>
                    <li>Watching the Boston Celtics</li>
                    <li>Playing Xbox</li>
                    <li>Eating</li>
                    <li>Sleeping</li>
                </ul>
            </div>
        </div>
    </div>
        <style>
            body {
            font-family: Arial, sans-serif;
            background: #C8102E;
            }
            .nav {
            text-align: center;
            }
            .nav-list {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
            }
            .nav-link {
            text-decoration: none;
            }
            .btn {
            margin: 0 5px;
            }
            .title {
            text-align: center;
            color: white;
            }
            .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
            }
            .content {
            text-align: center;
            color: white;
            }
            .flex-container {
            display: flex;
            justify-content: center;
            }
            .info-box {
            border: 2px solid black;
            padding: 20px;
            width: 50%;
            text-align: left;
            }
            .left-column, .right-column {
            width: 45%;
            float: left;
            }
            .subtitle {
            color: white;
            font-size: 1.5em;
            }
            .list {
            text-align: left;
            color: white;
            }
        </style>
</body>
</html>