<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    <nav class="nav">
        <ul class="nav-list">
        <li><button class="btn"><a href="/" class="nav-link">Home</a></button></li>
        <li><button class="btn"><a href="/about" class="nav-link">About Me</a></button></li>
        <li><button class="btn"><a href="/projects" class="nav-link">Projects</a></button></li>
        </ul>
    </nav>
    <h1>Contact Me</h1>
    <h2 class="title"><u>My Links</u></h2>
    <div class="links">
        <ul class="link-list">
            <li><a href="https://github.com/danielmontes23" target="_blank" class="link">GitHub</a></li>
            <li><a href="https://www.linkedin.com/in/daniel-montes-095602192/" target="_blank" class="link">LinkedIn</a></li>
            <li><a href="https://codepen.io/your-work" target="_blank" class="link">CodePen</a></li>
        </ul>
    </div>
    <div class="contact">
        <p class="content">Email: <a href="mailto:dmontes2@ewu.edu" class="link">dmontes2@ewu.edu</a></p>
    </div>

    <style>
        body {
            font-family: Arial, sans-serif;
            background: #C8102E;
        }
        .nav {
            text-align: center;
            font-family: Arial, sans-serif;
        }
        .nav-list {
            display: flex;
            justify-content: center;
            list-style-type: none;
            padding: 0;
            margin: 0;
        }
        .nav-link {
            text-decoration: none;
        }
        .btn {
            margin: 0 5px;
        }
        h1 {
            text-align: center;
            color: white;
        }
        .links {
            text-align: center;
        }
        .link-list {
            display: flex;
            justify-content: center;
            padding: 0;
            margin: 0;
            list-style-type: none;
        }
        .link {
            margin-right: 10px;
            color: white
        }
        .title {
            text-align: center;
            color: white;
        }
        .contact {
            text-align: center;
        }
        .content {
            color: white;
        }
    </style>
</body>
</html>