---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Daniel's Website</title>
	</head>
	<body>
		<h1>Daniel I. Montes</h1>

    	<img src="profilepic.jpg" alt="My profile pic">

    	<p>I am from a small town called Prosser, Washington. I started at EWU in 2020 with no idea what to major in until I stumbled upon the Bachelors in Computer Science major. I do have a minor in Communications, Spanish, and I am currently working on my Cyber Security minor. I currently work at the Center for Academic Advising and Retention(CAAR) on the Cheney campus as an office aid.</p>

    	<h2>My Links</h2>
	</body>
</html>
