---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <nav style="text-align: center; font-family: Arial, sans-serif;">
        <ul style="display: inline-block; list-style-type: none; padding: 0;">
            <li style="display: inline; margin-right: 20px;"><button class="btn"><a href="/" style="text-decoration: none;">Home</a></button></li>
            <li style="display: inline;"><button class="btn"><a href="/about" style="text-decoration: none;">About Me</a></button></li>
        </ul>
    </nav>

    <h1 style="text-align: center;"><u>Previous Projects</u></h1>
    
</body>
</html>