---
import '../styles/project.css';
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body style="background-color: #C8102E;">

    <nav class="nav">
        <ul>
            <li><button class="btn"><a href="/">Home</a></button></li>
            <li><button class="btn"><a href="/about">About Me</a></button></li>
            <li><button class="btn"><a href="/projects" class="nav-link">Projects</a></button></li>
            <li><button class="btn"><a href="/contact" class="nav-link">Contact</a></button></li>
        </ul>
    </nav>

    <h1 class="title"><u>Previous Projects</u></h1>

    <!-- CSCD 212 Project -->
    <div class="project">
        <h2>Airline Ticketing System</h2>
    </div>
    <div class="project-images">
        <div class="image-container">
            <img src="./public/ProjectScreenshots/CSCD212RunningMenuSS.png" alt="CSCD 212 Running Menu">
            <p>Running through the menu</p>
        </div>
        <div class="image-container">
            <img src="/ProjectScreenshots/CSCD212Output.png" alt="CSCD 212 Output">
            <p>Output after all the questions</p>
        </div>
    </div>

    <!-- Data Mining Hw2 -->
    <div class="project">
        <h2>Data Mining Accuracy using Python</h2>
    </div>
    <div class="project-images">
        <div class="image-container">
            <img src="./public/ProjectScreenshots/DataMiningAccuracyHw2.png" alt="HW2 Accuracy">
            <p>Wrote this program in Python to determine the accuracy of two files with tons of data</p>
        </div>
    </div>

    <!-- SQL Project -->
    <div class="project">
        <h2>SQL using Java</h2>
    </div>
    <div class="project-images">
        <div class="image-container">
            <img src="./public/ProjectScreenshots/Q0-Q4.png" alt="SQL/Java Results 1">
            <p>Results from Q0 to Q4</p>
        </div>
        <div class="image-container">
            <img src="./public/ProjectScreenshots/Q5-Q7.png" alt="SQL/Java Results 2">
            <p>Results from Q5 to Q7</p>
        </div>
        <div class="image-container">
            <img src="./public/ProjectScreenshots/LastResults.png" alt="SQL/Java Results 3">
            <p>Final results</p>
        </div>
    </div>

    <!-- CSCD350 Project -->
    <div class="project">
        <h5>Weather App with Group</h5>
    </div>
    <div class="project-images">
        <div class="image-container">
            <img src="./public/ProjectScreenshots/AskingforLocation.png" alt="350 Project1">
            <p>Asking to use my Location</p>
        </div>
        <div class="image-container">
            <img src="./public/ProjectScreenshots/ReturnedmyLocation.png" alt="350 Project2">
            <p>Returned my Location</p>
        </div>
        <div class="image-container">
            <img src="./public/ProjectScreenshots/Today+Weekly.png" alt="350 Project3">
            <p>Today and Weekly Forecast</p>
        </div>
        <div class="image-container">
            <img src="./public/ProjectScreenshots/Settings.png" alt="350 Project3">
            <p>Functional Settings Page</p>            
        </div>
        <div class="image-container">
            <img src="./public/ProjectScreenshots/Notifications.png" alt="350 Project3">
            <p>Notifications regarding the weather</p>
        </div>
    </div>
</body>
</html>