---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body style="background-color: #C8102E;">

    <h1 style="text-align: center; color: white; font-size: 70px;"><u>Previous Projects</u></h1>

    <nav style="text-align: center; font-family: Arial, sans-serif;">
        <ul style="display: inline-block; list-style-type: none; padding: 0;">
            <li style="display: inline; margin-right: 20px;"><button class="btn"><a href="/" style="text-decoration: none;">Home</a></button></li>
            <li style="display: inline;"><button class="btn"><a href="/about" style="text-decoration: none;">About Me</a></button></li>
        </ul>
    </nav>

    <div style="border: 2px solid white; padding: 5px; margin: 10px auto; text-align: center; display: block; width: fit-content; font-size: 16px;">
        <h2 style="color: white; text-align: center;">Airline Ticketing System</h2>
    </div>
    <div style="text-align: center;">
        <img src="/CSCD 212 Running Menu SS.png" alt="CSCD 212 Running Menu" style="width: 45%; height: auto; display: inline-block; margin-right: 10px; vertical-align: top;">
        <img src="/CSCD 212 Output.png" alt="CSCD 212 Output" style="width: 45%; height: auto; display: inline-block; vertical-align: top;">
    </div>

    <div style="border: 2px solid white; padding: 5px; margin: 10px auto; text-align: center; display: block; width: fit-content; font-size: 16px;">
        <h3 style="color: white; text-align: center;">Data Mining Accuracy using Python</h3>
    </div>
    <div style="text-align: center;">
        <img src="/Data Mining Accuracy Hw2.png" alt="HW2 Accuracy" style="width: 45%; height: auto; display: inline-block; margin-right: 10px; vertical-align: top;">
    </div>

    <div style="border: 2px solid white; padding: 5px; margin: 10px auto; text-align: center; display: block; width: fit-content; font-size: 16px;">
        <h4 style="color: white; text-align: center;">SQL using Java</h4>
    </div>
    <div style="text-align: center;">
        <img src="/Q0-Q4.png" alt="SQL/Java Results 1" style="width: 30%; height: auto; display: inline-block; margin-right: 10px; vertical-align: top;">
        <img src="/Q5-Q7.png" alt="SQL/Java Results 2" style="width: 30%; height: auto; display: inline-block; margin-right: 10px; vertical-align: top;">
        <img src="/Last Results.png" alt="SQL/Java Results 3" style="width: 30%; height: auto; display: inline-block; vertical-align: top;">
    </div>
</body>
</html>