---
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projects</title>
</head>
<body>
    <nav style="text-align: center; font-family: Arial, sans-serif;">
        <ul style="display: inline-block; list-style-type: none; padding: 0;">
            <li><a href="/">Home</a></li>
        </ul>
    </nav>
    <nav style="text-align: center; font-family: Arial, sans-serif;">
        <ul style="display: inline-block; list-style-type: none; padding: 0;">
            <li><a href="/about">About Me</a></li>
        </ul>
    </nav>
</body>
</html>